<nav class="nav">
  <h1><a href="">E-commerce</a></h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input type="text" (keyup)="searchProduct($event)" id="search" (blur)="hideSearchResult()" placeholder="Search Products" />
    <button>Search</button>
    <ul class="searchProductList" *ngIf="searchProductList">      
        <li *ngFor="let item of searchProductList">
          <a>{{item.name}}</a>
        </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="admin-auth">Admin</a></li>
      <li><a href="">User</a></li>
      <li><a href="">Cart (0)</a></li>
    </ul>
    <ul *ngSwitchCase="'admin'">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="admin-add-product">Add Product</a></li>
        <li><a routerLink="admin-home">List</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="">{{adminName | titlecase}}</a></li>
      </ul>
  </div>
</nav>
