<div class="row product-item">
  <div class="col-sm-6">
    <img class="product-image" src="{{ productData?.image }}" />
  </div>
  <div class="details col-sm-6">
    <h1>{{ productData?.name }}</h1>
    <h4>Price : {{ productData?.price }}</h4>
    <h4>Color : {{ productData?.color }} <span><p [style.backgroundColor]="productData?.color" class="product-color"></p></span></h4>
    <h4>Description: {{ productData?.description }}</h4>
    <div class="quantity">
        <button (click)="manageQuantity('min')">-</button>
        <input type="text" value="{{ productQuantity }}">
        <button (click)="manageQuantity('max')">+</button>
      </div>
    <div class="product-buttons">
      <button class="form-button">Buy Now</button>
      <button class="form-button" *ngIf="!removeCartItem" (click)="addToCart()">Add to Cart</button>
      <button class="form-button" *ngIf="removeCartItem" (click)="removeFromCart(productData.id)">Remove From Cart</button>

    </div>
    <div class="quantity">
      <h5>Selected Quantity:<input type="text" value="{{ productQuantity }}"></h5>
      <h5>Total Amount for Selected Quantity : {{totalAmount}}</h5>
    </div>
  </div>
</div>
