.product-item{
    margin-top: 50px;
    margin-bottom: 80px;
}

.product-image{
    width: 100%;
    object-fit: contain;
    height: 450px;
    border: 1px solid #ccc;
}

.product-color{
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.product-buttons button{
    margin-top: 25px;
    margin-right: 10px;
}

.quantity{
    margin-top: 15px;
}

.quantity button{
    padding: 12px;
    border-radius: 50%;
}

.quantity input{
    padding: 10px;
    border-radius: 10px;
    width: 50px;
}