.carousel-inner img{
    /* margin: auto;
    height: 500px;
    margin-top: 25px; */
    display: block;
    object-fit: contain;
    width: 100%;
    height: 550px;
    margin-top: 30px;
}

.carousel-caption {
    background-color: #00000014;
    border-radius: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #00000014;
    border-radius: 5px;
}

.product-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-item{
    border: 1px solid #ccc;
    margin-bottom: 30px;
    margin-left: 5px;
}

.product-item img{
    object-fit: contain;
    width: 100%;
    height: 200px; 
}

.product-item h6{
    text-align: center;
}

.product-content .product-name{
    font-size: 20px;
    font-weight: 600;
}

.product-item .product-content{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.product-item .product-footer{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product-footer a{
    text-decoration: none;
    color: black;
}